<div class="stratosphere-container" data-stratosphere-enabled="true" data-model-name="<%= model.class.to_s.underscore %>" data-model-id="<%= model.id %>" data-attachment-name="<%= model.class.attachment_name.to_s %>">
    <label class="statosphere-uploader-label"><%= model.class.attachment_name.to_s.capitalize %></label>
    <input type="file">
</div>