<!DOCTYPE html>
<html>
<head>
  <title>Stratosphere</title>
  <%= stylesheet_link_tag    "stratosphere/application", media: "all" %>
  <%= javascript_include_tag "stratosphere/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
